---
layout: page
title: "About"
description: "「可爱新海天携爱奉上」"
header-img: "pic/about.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


<div>
    <button id="playBtn">播放音乐</button>
    <label for="volume">音量:</label>
    <input type="range" id="volume" min="0" max="1" step="0.01" value="0.5">
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var audio = new Audio('./music/PoemOfSakura.mp3');
        var playBtn = document.getElementById('playBtn');
        var volumeSlider = document.getElementById('volume');
        audio.loop=true;
        audio.volume = volumeSlider.value;
        playBtn.addEventListener('click', function() {
            if (audio.paused) {
                audio.play()
                    .then(() => playBtn.textContent = '暂停音乐')
                    .catch(error => console.error('音乐播放失败:', error));
            } else {
                audio.pause();
                playBtn.textContent = '播放音乐';
            }
        });
        volumeSlider.addEventListener('input', function() {
            audio.volume = this.value;
        });
    });
</script>

{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
