<!-- Search -->
<div class="search-page" style="background-image:url(./pic/404.jpg);background-size:contain">
  <div class="search-icon-close-container style="background-color:white">
    <span class="search-icon-close">
      <i class="fa fa-chevron-down"></i>
    </span>
  </div>
  <div class="search-main container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form></form>
        <input type="text" id="search-input" placeholder="请输入查询关键字" style="border:2px solid black;border-radius:5px;position:relative;left:-20px">
        </form>
        <div id="search-results" class="mini-post-list" style="border:2px solid black;height:500px"></div>
      </div>
    </div>
  </div>
</div>
